.countryFacts {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.countryHeader {
    text-align: center;
    background-color: red;
}

.people {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    text-align: justify;
    padding: 0;
    margin: 0;
    border: 0;
    float: left;
}

.landmarks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30%;
    align-self: flex-end;
}

.cities {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.people img {
    height: 100px;
}

.landmarks img {
    height: 300px;
    width: auto;
}

.cities img {
    height: 250px;
    width: auto;
}

body {
    background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0556/5208/rPortugalSmall_shop_thumb.png");
    color: chartreuse;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#portugalPeople {
    width: 50%;
}